@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;700;900&display=swap");

html {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 0.9vmax;
  font-variant-numeric: lining-nums;
  margin: 0;
  padding: 0;
  background-color: #46344e;
  max-width: 100vw !important;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  position: absolute;
  width: 0.6vw;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(31, 31, 31, 0.349);
  border-radius: 0.6vw;
}

html::-webkit-scrollbar-track {
  background-color: rgba(39, 39, 39, 0.292);
}

html::-webkit-scrollbar-thumb:hover {
  background-color: rgb(39, 39, 39);
}

a {
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  transition: opacity 0.5s ease-out;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 5px solid rgba(0, 0, 0, 0.311);
  margin: 5em 0;
  padding: 0;
}

.opacity-none {
  opacity: 0;
}

li {
  border-width: 1px;
  border-color: #6e6e6e1f;
  border-bottom-style: solid;
  border-top-style: solid;
}

.main-container,
.main-container-up {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container-up {
  justify-content: start;
  min-height: fit-content;
}

.header-container,
.header-container-up {
  display: flex;
  flex-direction: column;
  transform: translateY(-50px);
}

.header-container-up {
  transform: translateY(10px);
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h4 {
  margin: 0;
  padding: 0;
}

.logo-container,
.logo-container-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: fit-content;
  height: fit-content;
  justify-content: end;
  margin-bottom: 10%;
}

.logo-text {
  color: #faed26;
  font-size: 36px;
  font-weight: 300;
  user-select: none;
  pointer-events: none;
}

.logo-icon {
  width: fit-content;
  height: fit-content;
  pointer-events: none;
}

.logo-icon-up {
  width: 34px;
  height: 34px;
  margin-right: 11px;
  pointer-events: none;
}

.logo-container-up {
  flex-direction: row;
  height: fit-content;
  margin-bottom: 22px;
  justify-content: center;
  align-items: flex-end;
}

.searchbar-container {
  min-width: 100%;
  width: 50vw;
  max-width: 630px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  position: relative;
}

.searchbar-container > img {
  position: absolute;
  top: 30%;
  right: -5%;
  pointer-events: none;
}

.searchbar {
  font-size: 17px;
  padding-left: 3%;
  padding-right: 15%;
  width: 95%;
  max-width: 630px;
  height: 41px;
  border-radius: 15px;
  border-color: #5a5560;
  border-style: solid;
  border-width: 3px;
  background-color: #9d8d8f;
  outline: none;
}

.searchbar::placeholder {
  color: #5a5560;
  font-size: 17px;
  font-weight: 200;
}

.search-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  width: 113%;
  min-height: 2rem;
  background-color: wheat;
  color: #3e3e3e;
  font-size: 17px;
  font-weight: bold;
  border-color: #5a5560;
  border-style: solid;
  outline: none;
  box-shadow: none;
  border-width: 3px;
  border-radius: 15px;
  background-color: #9d8d8f;
  position: absolute;
}

#results {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-item {
  padding: 1% 0;
  height: 5%;
  padding-left: 2%;
  cursor: pointer;
  transition: color 0.3s ease-out;
}

.search-item:hover,
.search-item-active {
  color: #faed26;
}

.loading-advice-holder {
  display: flex;
  flex-direction: column;
  user-select: none;
}

#loading-icon {
  margin: 10px 0;
  width: 30px;
  height: 30px;
  align-self: center;
  animation-name: rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loading-header {
  text-align: center;
  margin-bottom: 5px;
  opacity: 50%;
  pointer-events: none;
}

#loading-text {
  justify-self: center;
  max-width: 80%;
  margin-bottom: 20px;
  font-size: 15px;
  color: rgb(110, 110, 110);
  align-self: center;
  text-align: center;
  font-weight: 600;
  pointer-events: none;
}

#error-text {
  opacity: 50%;
  text-align: center;
  padding: 10px 0;
  pointer-events: none;
  user-select: none;
}

.game-page-container {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  width: 75%;
  justify-self: center;
  align-self: center;
  opacity: 100%;
  transition: opacity 1s ease-in-out;
}

.parent-container {
  transition: opacity 3s ease-out;

  animation-name: revealing;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  margin-bottom: 60px;
}

.game-description {
  display: flex;
  min-width: 100%;
  min-height: 362px;
  align-items: flex-start;
  margin-bottom: 120px;
}

.game-cover {
  background-color: black;
  min-height: fit-content;
  justify-self: flex-start;
  height: 100%;
  object-fit: scale-down;
  margin-right: 32px;
  border-radius: 8%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.8);
  user-select: none;
  transition: scale 2s ease-out;
}

.game-cover:hover {
  scale: 105%;
}

.game-text-container {
  min-height: 362px;
  max-width: 588px;
  min-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: auto;
  margin-right: 10px;
}

.game-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  color: #faed26;
  font-size: 39px;
  font-weight: 900;
}

.game-summary {
  min-height: 245px;
  display: flex;
}

.game-desc-text {
  color: #ffffff;
  font-size: 19px;
  font-weight: 500;
  min-width: 100%;
  align-self: center;
}

.stats-n-links-container {
  height: 100%;
  min-height: 362px;
  display: flex;
  flex-direction: column;
  justify-self: right;
  justify-content: space-between;
  min-width: 40%;
}

.stats-date-n-devs-vs-rate {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.links-container {
  display: flex;
  align-self: right;
  width: 100%;
}

.date-n-devs-container {
  text-align: right;
  width: 50%;
}

.date-container {
  margin-bottom: 50px;
}

.rate-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-n-devs-label {
  color: #cb9385;
  font-weight: 500;
  font-size: 19px;
  text-align: right;
}

.date-n-devs-value {
  font-size: 19px;
  color: #faed26;
  font-weight: 500;
  margin-bottom: 10px;
}

.rate-label {
  color: #cb9385;
  font-weight: 900;
  font-size: 27px;
}

.rate-circle {
  width: 124px;
  height: 124px;
  color: #faed26;
  text-align: center;
  vertical-align: middle;
  font-weight: 900;
  font-size: 34px;
  border: 8px double #faec26;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: flex-end;
  justify-self: right;
  width: fit-content;
  height: 37px;
  border: #cb9385 2px solid;
  border-radius: 28px;
  transform: translateY(70px);
}

.link-container {
  margin: 0 25px;
  display: flex;
  width: fit-content;
  color: #cb9385;
  font-size: 15px;
  font-weight: 300;
  transition: opacity 0.2s ease-out, scale 0.5s ease-out;
}

.link-container:hover {
  opacity: 50%;
}

.website-icon {
  margin-right: 8px;
  width: 17px;
  height: 17px;
}

.error-game-page {
  height: fit-content;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  font-size: 50px;
  font-weight: 900;
  opacity: 20%;
  text-align: center;
  justify-self: center;
  align-self: center;
  border-top: 10px dashed;
  border-bottom: 10px dashed;
  user-select: none;
}

.website-title {
  white-space: nowrap;
}

.empty-placeholder {
  min-width: 100%;
  text-align: center;
  opacity: 20%;
  font-size: 50px;
  font-weight: 900;
  min-width: 100%;
  align-self: center;
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

.yt-screenshots-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

#images_container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  opacity: 100%;
}

.hidden {
  opacity: 0;
  transition: opacity 3s ease-out;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes revealing {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 50;
  }

  100% {
    opacity: 100;
  }
}
