@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;700;900&display=swap");

html {
  font-family: "Raleway", sans-serif;
  font-size: 0.9vmax;
  margin: 0;
  padding: 0;
  background-color: #46344e;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: fit-content;
}

li {
  border-width: 1px;
  border-color: #6e6e6e1f;
  border-bottom-style: solid;
  border-top-style: solid;
}

.main-container,
.main-container-up {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container-up {
  justify-content: start;
}

.header-container,
.header-container-up {
  display: flex;
  flex-direction: column;
  transform: translateY(-50px);
}

.header-container-up {
  transform: translateY(10px);
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h4 {
  margin: 0;
  padding: 0;
}

.logo-container,
.logo-container-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: fit-content;
  height: fit-content;
  justify-content: end;
  margin-bottom: 10%;
}

.logo-text {
  color: #faed26;
  font-size: 36px;
  font-weight: 300;
  user-select: none;
  pointer-events: none;
}

.logo-icon {
  width: fit-content;
  height: fit-content;
  pointer-events: none;
}

.logo-icon-up {
  width: 34px;
  height: 34px;
  margin-right: 11px;
  pointer-events: none;
}

.logo-container-up {
  flex-direction: row;
  height: fit-content;
  margin-bottom: 22px;
  justify-content: center;
  align-items: flex-end;
}

.searchbar-container {
  min-width: 100%;
  width: 50vw;
  max-width: 630px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  position: relative;
}

.searchbar-container > img {
  position: absolute;
  top: 30%;
  right: -5%;
  pointer-events: none;
}

.searchbar {
  font-size: 17px;
  padding-left: 3%;
  padding-right: 15%;
  width: 95%;
  max-width: 630px;
  height: 41px;
  border-radius: 15px;
  border-color: #5a5560;
  border-style: solid;
  border-width: 3px;
  background-color: #9d8d8f;
  outline: none;
}

.searchbar::placeholder {
  color: #5a5560;
  font-size: 17px;
  font-weight: 200;
}

.search-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  width: 113%;
  min-height: 2rem;
  background-color: wheat;
  color: #3e3e3e;
  font-size: 17px;
  font-weight: bold;
  border-color: #5a5560;
  border-style: solid;
  outline: none;
  box-shadow: none;
  border-width: 3px;
  border-radius: 15px;
  background-color: #9d8d8f;
  position: absolute;
}

#results {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-item {
  padding: 1% 0;
  height: 5%;
  padding-left: 2%;
  cursor: pointer;
  transition: color 0.3s ease-out;
}

.search-item:hover {
  color: #faed26;
}

#loading-icon {
  margin: 10px 0;
  width: 30px;
  height: 30px;
  align-self: center;
  animation-name: rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#loading-text {
  margin-bottom: 10px;
  font-size: 15px;
  color: black;
  align-self: center;
  text-align: center;
  font-weight: 400;
}

#error-text {
  text-align: center;
  padding: 10px 0;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
