@media screen and (max-width: 1900px) {
  .links-container {
    transform: translateY(40px);
  }

  .yt-screenshots-container {
    flex-direction: column;
    align-items: left;
  }

  .yt-screenshots-container > #images_container {
    padding-top: 60px;
    width: fit-content;
    height: fit-content;
    align-self: center;
  }

  .youtube-main-container {
    min-width: 100%;
    margin-bottom: 60px;
  }

  .twitch-streams-container {
    flex-wrap: wrap;
    max-height: fit-content;
    width: fit-content;
    min-width: fit-content;
    justify-content: center;
  }

  .twitch-item-container {
    width: 300px;
    margin: 30px;
  }

  .game-description {
    justify-content: center;
    flex-wrap: wrap;
  }

  .stats-n-links-container {
    width: 80%;
    padding-top: 60px;
  }

  .stats-date-n-devs-vs-rate {
    justify-content: space-between;
  }

  .date-n-devs-container,
  .date-n-devs-label {
    text-align: left;
  }

  .rate-container {
    width: fit-content;
    justify-content: flex-start;
    align-items: right;
  }

  .links-container {
    align-self: center;
  }
}

@media screen and (max-width: 1280px) {
  .youtube-list-vs-player-container {
    min-width: 100%;
  }

  .game-cover {
    margin-bottom: 60px;
    width: 40%;
    object-fit: cover;
    margin-right: 0;
  }

  .game-cover:hover {
    scale: 100%;
  }

  .game-text-container {
    min-width: auto;
    max-width: 90vw;
    min-height: auto;
  }

  .game-summary {
    min-height: auto;
  }

  .stats-n-links-container {
    width: 100%;
  }

  .video-item-cover {
    /* display: none; */
    width: 100%;
    max-width: 100%;
  }

  .video-item-title {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .steam-review-container {
    flex-direction: column;
    max-height: none;
    height: 1000px;
  }

  .steam-review {
    width: 80%;
    height: 40%;
    max-height: 40%;
  }
}

@media screen and (max-width: 700px) {
  .stats-n-links-container {
    justify-self: center;
  }

  .stats-n-links-container {
    width: 90vw;
    justify-content: space-between;
  }
  .stats-date-n-devs-vs-rate {
    flex-wrap: wrap;
    width: 90vw;
  }

  .links-container {
    justify-content: center;
    flex-wrap: wrap;
    width: 90vw;
    height: fit-content;
  }

  .link-container {
    margin: 25px 255px;
  }

  .youtube-main-container {
    min-width: none;
    max-width: 80vw;
    width: 80vw;
    max-height: none;
  }

  .youtube-list-vs-player-container {
    min-width: 50vw;
    max-width: 90vw;
    max-height: fit-content;
    flex-wrap: wrap;
    border-top-right-radius: 0;
    border-bottom-left-radius: 25px;
  }

  .youtube-player {
    border-right: none;
    border-bottom: #333333 3px solid;
    height: 60vw;
    width: 90vw;
    max-width: 90vw;
  }

  .parent-container {
    width: 90vw;
  }

  .block-title {
    width: 90vw;
  }

  .youtube-main-container {
    height: fit-content;
  }

  .youtube-videos-list {
    width: 90vw;
    height: 90vw;
    border-top-right-radius: 0;
    border-bottom-left-radius: 25px;
  }

  .video-item-cover {
    width: 30%;
    max-width: 30%;
    min-width: 30%;
  }

  .video-item-title {
    display: block;
  }

  .parent-container {
    justify-self: center;
  }

  .image-gallery {
    width: 90vw;
  }

  .image-gallery-content {
    min-width: 50vw;
    max-width: 90vw;
  }

  .twitch-streams-container {
    width: 90vw;
    min-width: 90vw;
  }

  .game-page-container {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }

  .empty-stream-title {
    font-size: 20px;
  }

  #root {
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }
}

@media screen and (max-width: 600px) {
  .game-cover {
    width: 80%;
  }

  .header-container-up {
    width: fit-content;
  }

  .header-container {
    width: fit-content;
  }

  .searchbar-container {
    width: 80vw;
    max-width: 80vw;
  }
}
